body {
  margin: 0;
  padding: 0;
  background: linear-gradient(dodgerblue, white);
  /* background-image: url(wXQt5L.jpg); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* width: 100%;  */
  /* height:100%; */
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.irctc-logo {
  /* padding:0.1rem ; */
  margin-top: 5px;
  margin-left: 20px;
}
.navbar {
  /* width: ;
    height: 9vh; */
  display: flex;
  align-items: center;
  /* padding:0.3rem; */
  padding: 05px;
}
nav {
  flex: 1;
  text-align: right;
}
nav ul {
  display: inline-block;
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  margin-right: 50px;
}
a {
  text-decoration: none;
  color: rgb(10, 10, 9);
  font-size: x-large;
  font-weight: bolder;
  cursor: pointer;
}
a:hover {
  color: antiquewhite;
}
/* .content1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.box1 {
  display: flex;
  width: 150px;
  height: 70px;
  border: 2px solid black;
  border-radius: 2px;
  box-sizing: border-box;
} */

/* .small-container { */
/* width:95.5vw; */
/* height: 100vh; */
/* margin:auto;
      padding:0 25px; */
/* max-width: 1300px; */
/* margin: auto; */
/* padding: 0 25px; */
/* } */
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10px;
  margin: 60px;
}

.categories {
  margin: 70px 0;
}
.col-3 {
  flex-basis: 40%;
  width: 200px;
  transition: transform 0.5s;
  margin-bottom: 30px;
  padding-right: 20px;
  transform: rotateX(-50%);
}
.col-3:hover {
  transform: translateY(-5px);
}
.col-3 img {
  width: 75%;
}
.col-3 h3 {
  margin-left: 65px;
}

.small-container {
  width: 1100px;
  margin: auto;
  padding: 0px 25px;
}