body {
  margin: 0;
  padding: 0;
  background-image: url(/IMAGES/295883.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    /* Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; */
}
/* #login-form{
    display: none;
}  */

.form-box {
  width: 350px;
  height: 570px;
  margin-right: 200px;
  position: relative;
  margin: 5% auto;
  background: linear-gradient(white, rgb(91, 127, 151), black);
  padding: 10px;
  overflow: hidden;
  border-radius: 5px;
  margin-left: 1020px;
}
.button-box {
  width: 230px;
  margin: 25px auto;
  position: relative;
  border-radius: 50px;
}
/* #loginbtn{
margin-right: 20px;
} */

.toggle-btn {
  padding: 10px 25px;
  cursor: pointer;
  background-color: transparent;
  /* color: white; */
  border: 0;
  outline: none;
  position: relative;
  font-weight: 900;
}
#btn {
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: #7e9eb6;
  border-radius: 30px;
  transition: 0.5s;
}
.input-group-login {
  top: 150px;
  position: absolute;
  width: 280px;
  transition: 0.5s;
}
.input-group-register {
  top: 120px;
  position: absolute;
  width: 280px;
  transition: 0.5s;
}
.input-field {
  width: 100%;
  padding: 07px 0;
  margin: 8px 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid rgb(7, 7, 7);
  outline: none;
  background: transparent;
}
::placeholder {
  color: black;
  opacity: 1;
}
input {
  font-weight: 700;
}
.submit-btn {
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  /* background: #4c8183;
   */
  background: #7e9eb6;
  font-weight: 900;
  border: 0;
  outline: none;
  border-radius: 30px;
  margin-top: 19px;
}

/* #register-checkbox{
    margin-top: 360px;
} */
span {
  color: black;
  font-weight: bolder;
  font-size: bolder;
  bottom: 59px;
  position: absolute;
}
#login {
  left: 50px;
}
#login input {
  color: white;
  font-size: 15px;
}
#register {
  left: 450px;
}
#register input {
  color: white;
  font-size: 15px;
}

#Id {
  margin-top: -10px;
}

#email {
  margin-top: 25px;
}
#login-password {
  margin-top: 28px;
  margin-bottom: 50px;
}
#loginpagebtn {
  margin-top: px;
}
#register-checkbox {
  margin-top: 15px;
  bottom: 50px;
}